@model DetroitTradingMvcTest.Models.VehicleViewModel

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(m => m.MakeId)
            @Html.DisplayFor(m => m.MakeId)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ModelId)
            @Html.DisplayFor(m => m.ModelId)
        </div>
    </div>
</div>
